@charset "utf-8";
/* CSS Document */
a.hide_slide{
background:#000; display:inline-block; padding:2px 5px; margin-left:5px; font-size:12px; font-weight:700; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; color:#fff; font-weight:700;}


a.hide_slide:hover{ background:#c60000; color:#fff;}